.switch-div-container {
    width: 400px;
    height: 100px;
    margin: 10px;
    border-radius: 100px;
    background-color: #9EA3B0;
    border: 8px solid #FFFFFF;
    display: flex;
    align-items: center;
    padding: 0 3px;
    transition: background-color 1s ease-in-out;
}
.switch-div-container-active {
    background-color: #FE4A49;
}
.switch {
    width: 194px;
    height: 94px;
    border-radius: 100px;
    background-color: #D2D4DA;
    transition: transform 1s ease-in-out;
}
.active {
    transform: translateX(206px);
}
